body {
    background-color:#AFED9D;
}

.player {
    margin: 0px;
    font-family: 'Lucida Console';
}

#player1 {
    background-color:#321675;
}

#player2 {
    background-color:#5922E0;
}

#player3 {
    background-color:#22E8E0;
}

#player4 {
    background-color:#59E822;
}

#player5 {
    background-color:#999999;
}
